@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #333;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1 {
  font: 700 2.22222rem "Alegreya Sans", sans-serif;
}

h2 {
  font: 700 1.66667rem "Alegreya Sans", sans-serif;
}

h3 {
  font: 740 1.11111rem "Alegreya Sans", sans-serif;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0.05556rem dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -0.11111rem;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.button {
  padding: 0.88889rem 1.72222rem;
  border: solid 0.16667rem transparent;
  border-radius: 5.55556rem;
  background-color: #fff;
  color: #365a49;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #0a4d3c;
  color: #fff;
}

.button:focus {
  border-color: #dee2bd;
}

.button__dark {
  background-color: #0a4d3c;
  color: #fff;
}

.button__submit {
  background-color: #0a4d3c;
  color: #fff;
}

.button__submit:hover {
  background-color: #fff;
  color: #365a49;
}

.button__reset {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
}

.button__reset:hover {
  background-color: transparent;
  color: #365a49;
}

.fix-menu {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .fix-menu {
    display: none;
    opacity: 0;
  }
}

.fix-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fix-menu-shadowed .fix-menu__link {
  background-color: #000;
}

.fix-menu-shadowed .fix-menu__item--active, .fix-menu-shadowed .fix-menu__item:hover {
  border: solid 1px #000;
}

.fix-menu__item {
  border: solid 1px transparent;
  border-radius: 50%;
  margin-bottom: 0.27778rem;
}

.fix-menu__item--active {
  border: solid 1px #fff;
}

.fix-menu__item:hover {
  border: solid 1px #fff;
}

.fix-menu__link {
  display: block;
  height: 0.33333rem;
  width: 0.33333rem;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px;
}

.hero {
  width: 100%;
  background: url("../img/hero__bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #61c4d9;
  color: #fff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}

@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}

.hero::before {
  content: url("../img/leaf_3.png");
  position: absolute;
  bottom: -3.05556rem;
  left: 2%;
}

.hero::after {
  content: url("../img/leaf_and_berry.png");
  position: absolute;
  bottom: -3.05556rem;
  right: 2%;
}

.container__hero-section {
  padding: 1.33333rem 0 2.61111rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/batons.png") right center/50% auto no-repeat;
}

@media screen and (max-width: 768px) {
  .container__hero-section {
    background: none;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 2.94444rem;
  height: 2.16667rem;
}

.lodo__img {
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 0 1.66667rem;
  padding-top: 5px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__link {
  white-space: nowrap;
}

.menu__item {
  margin-right: 1.5rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.header__menu a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.header__menu .phone__number {
  font-size: 1.33333rem;
}

.phone {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .phone.header__phone {
    display: none;
  }
}

.phone__icon {
  width: 0.66667rem;
  height: 0.66667rem;
}

.promo {
  width: 46%;
  margin-bottom: 2.55556rem;
}

@media screen and (max-width: 768px) {
  .promo {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .promo::before {
    content: "";
    display: block;
    width: 17.55556rem;
    height: 18.33333rem;
    background: url(../img/batons__768.png) center center/contain no-repeat;
    margin-bottom: 0.55556rem;
  }
}

.hero__img {
  display: block;
  height: 100%;
  width: 100%;
}

.promo__title {
  margin: 0;
  font-size: 2.66667rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .promo__title {
    line-height: 0.8;
    margin-bottom: 0.55556rem;
  }
}

.promo__caption {
  font-size: 1.16667rem;
  margin-bottom: 1.38889rem;
  padding-right: 15%;
}

@media screen and (max-width: 768px) {
  .promo__caption {
    padding: 0 25%;
  }
}

@media screen and (max-width: 480px) {
  .promo__caption {
    padding: 0 15%;
    margin-bottom: 0.77778rem;
  }
}

@media screen and (max-width: 768px) {
  .info {
    display: none;
  }
}

.info__list {
  display: flex;
}

.info__item {
  display: flex;
  align-items: center;
  margin-right: 2.11111rem;
}

.info__item:last-child {
  margin-right: 0;
}

.info__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.38889rem;
}

.info__img {
  display: block;
  width: 100%;
  height: 100%;
}

.info__title {
  width: 4.72222rem;
}

.section {
  height: 100vh;
  min-height: 36.11111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 2.66667rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 58x;
  text-align: center;
  margin-bottom: 2.33333rem;
}

.slider-section {
  background-color: #f8faf9;
  position: relative;
}

.slider-section::after {
  content: url("../img/slider__after-bg.png");
  position: absolute;
  bottom: -12rem;
  right: 0;
}

@media screen and (max-width: 480px) {
  .slider-section::after {
    content: "";
  }
}

.slider-section-container {
  display: flex;
  align-items: center;
  max-width: 990px;
}

.slider-section-container .bx-wrapper {
  background-color: transparent;
  box-shadow: none;
  border: 0;
}

@media screen and (max-width: 768px) {
  .slider-section-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .slider__arrow {
    margin-top: -50%;
  }
}

.slider__content {
  display: flex;
  align-items: center;
  padding: 0 3.33333rem;
}

@media screen and (max-width: 768px) {
  .slider__content {
    flex-direction: column;
    padding: 0;
  }
}

.slider__img {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .slider__img {
    width: auto;
    transform: scale(0.8);
  }
}

.slider__body {
  width: 50%;
  padding-left: 3.61111rem;
}

@media screen and (max-width: 768px) {
  .slider__body {
    width: auto;
    padding: 0;
    text-align: center;
  }
}

.slider__compos {
  margin-bottom: 1.16667rem;
}

@media screen and (max-width: 768px) {
  .slider__compos {
    display: none;
  }
}

.slider__title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .slider__title {
    font-size: 1.66667rem;
  }
}

@media screen and (max-width: 768px) {
  .slider__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slider__desc-text {
  line-height: 1.3;
  margin-bottom: 1.8rem;
}

@media screen and (max-width: 768px) {
  .slider__desc-text {
    text-align: center;
    margin-bottom: 0.8rem;
  }
}

.slider__info {
  display: flex;
  margin-bottom: 1.5rem;
}

.slider__info-block {
  display: flex;
  flex-direction: column;
  margin-right: 2.77778rem;
}

.slider__info-block p:last-child {
  font-weight: 700;
}

.slider__buy {
  display: flex;
  align-items: center;
  line-height: 1;
}

.slider__priсe {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.why-section {
  position: relative;
}

.why-section::after {
  content: url("../img/rassberry.png");
  position: absolute;
  bottom: -3.05556rem;
  left: 0;
}

@media screen and (max-width: 480px) {
  .why-section::after {
    content: "";
  }
}

.why {
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
  .why {
    margin-bottom: 3.38889rem;
  }
}

.why__title {
  margin-bottom: 0.38889rem;
}

.why__caption {
  color: #666666;
  font-size: 18px;
  line-height: 1.2;
  padding: 0 26%;
}

@media screen and (max-width: 480px) {
  .why__caption {
    padding: 0 2%;
  }
}

.why__cards {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .why__cards {
    flex-direction: column;
  }
}

.why__item {
  display: flex;
  margin-right: 6%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 480px) {
  .why__item {
    flex-direction: row;
    margin-right: 0;
    text-align: left;
    margin-bottom: 3.27778rem;
  }
  .why__item:last-child {
    margin-bottom: 0;
  }
}

.why__item:last-child {
  margin-right: 0;
}

.why__item::before {
  content: url(../img/separator.png);
  position: absolute;
  right: 0;
  transform: translate(100%, -50%);
  top: 3.5rem;
}

@media screen and (max-width: 480px) {
  .why__item::before {
    content: "";
  }
}

.why__item:last-child::before {
  content: "";
}

.why__pic {
  width: 7rem;
  height: 7rem;
  background-color: #f2f5f4;
  border-radius: 50%;
  margin-bottom: 1.66667rem;
  position: relative;
  flex-shrink: 0;
}

@media screen and (max-width: 480px) {
  .why__pic {
    margin-right: 0.77778rem;
    margin-bottom: 0;
  }
}

.why__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4.44444rem;
  width: 4.44444rem;
}

.why__about-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 18px;
}

@media screen and (max-width: 480px) {
  .why__about-title {
    margin-bottom: 0.72222rem;
  }
}

.why__about-caption {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}

.menu-section {
  background: url("../img/menu__bg.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.products-menu__text {
  transform: rotate(-90deg);
  color: #fff;
  background-color: transparent;
  font-size: 2rem;
}

.products-menu {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  top: 0;
}

.products-menu__item {
  display: flex;
}

.products-menu__title {
  position: relative;
  width: 5.55556rem;
  height: 100%;
}

.products-menu__bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000;
}

.products-menu__content {
  color: #fff;
  background: rgba(45, 50, 52, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}

.products-menu__container {
  padding: 40px 73px 45px 26px;
}

.products-menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

.products-menu__close-icon {
  width: 1rem;
  height: 1rem;
  display: block;
  transition: .3s;
}

.reviews {
  position: relative;
}

.reviews::after {
  content: url("../img/strawberry.png");
  position: absolute;
  top: -2rem;
  right: 0.55556rem;
}

@media screen and (max-width: 480px) {
  .reviews::after {
    top: 0.44444rem;
    right: -2.66667rem;
  }
}

.reviews::before {
  content: url("../img/berrys.png");
  position: absolute;
  bottom: -5.27778rem;
  left: 0;
}

.section__title-reviews {
  margin-bottom: 2.44444rem;
}

.review__list {
  padding: 2.83333rem 2.5rem 1.88889rem;
  background: url("../img/review__bg-right.png") right top no-repeat, url("../img/review__bg-center.png") center top no-repeat;
  background-color: #f8faf9;
  min-height: 370px;
  margin-bottom: 1.5rem;
  position: relative;
}

.review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.review.active {
  opacity: 1;
  position: static;
}

@media screen and (max-width: 768px) {
  .review {
    flex-direction: column;
    padding: 2.83333rem 0.94444rem 1.88889rem;
    margin-bottom: 0.88889rem;
  }
}

.review__title {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .review__title {
    width: 100%;
    text-align: center;
  }
}

.review__title-header {
  font-size: 1.66667rem;
  font-weight: 700;
  margin-bottom: 1.38889rem;
}

@media screen and (max-width: 768px) {
  .review__title-header {
    width: 100%;
    margin-bottom: 0.72222rem;
  }
}

@media screen and (max-width: 480px) {
  .review__title-header {
    margin-bottom: 0.77778rem;
    padding: 0 2.88889rem;
  }
}

.review__title-body {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1.66667rem;
}

@media screen and (max-width: 768px) {
  .review__title-body {
    line-height: 1.2;
    margin-bottom: 0.88889rem;
  }
}

.review__title-name {
  font-size: 18px;
  font-weight: 500;
}

.review__pic {
  width: 14.11111rem;
  height: 14.44444rem;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .review__pic {
    width: 7.22222rem;
    height: 7.33333rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .review__pic {
    margin-bottom: 1.05556rem;
  }
}

.review__pic img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-autors {
  display: flex;
  justify-content: center;
}

.reviews-autors__item {
  width: 3.77778rem;
  height: 3.77778rem;
  margin-right: 0.61111rem;
  border: solid 0.33333rem transparent;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .reviews-autors__item {
    width: 4rem;
    height: 4rem;
    margin-right: 0.94444rem;
  }
}

.reviews-autors__item:last-child {
  margin-right: 0;
}

.reviews-autors__item img {
  width: 100%;
  height: 100%;
}

.reviews-autors__item.active {
  border-color: #365a49;
}

.reviews-autors__item:hover, .reviews-autors__item :active {
  border-color: #365a49;
}

.delivery {
  background: url("../img/pattern_form.png");
  background-color: #d3ddd9;
  position: relative;
}

.delivery::after {
  content: url("../img/berry_1.png");
  position: absolute;
  bottom: 3.66667rem;
  left: 0.55556rem;
}

.section__title-delivery {
  padding-top: 4.16667rem;
}

@media screen and (max-width: 768px) {
  .section__title-delivery {
    flex-direction: column;
    margin-bottom: 1.61111rem;
  }
}

.form {
  display: flex;
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}

@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 18px;
}

@media screen and (max-width: 768px) {
  .form__col {
    width: 100%;
    margin-right: 0;
  }
}

.form__col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .form__col:last-child {
    padding-top: 0.94444rem;
  }
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.94444rem;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__container {
  flex: 1;
  margin-right: 1.11111rem;
}

.form__container:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  height: 3.27778rem;
  font-size: 18px;
  border: solid 0.16667rem transparent;
  outline: none;
}

@media screen and (max-width: 768px) {
  .form__input {
    height: 1.94444rem;
  }
}

.form__input:focus {
  border-color: #dee2bd;
}

.form__input-error {
  border: solid 0.16667rem palevioletred;
}

label {
  color: #365a49;
  font-size: 18px;
}

.form__container-text {
  margin-right: 0;
  margin-bottom: 1.16667rem;
}

.form__container-check {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .form__container-check {
    justify-content: center;
  }
}

.form__check-payment {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 1.22222rem;
  margin-bottom: 0.55556rem;
}

.form__check-payment:last-child {
  margin-right: 0;
}

.comment__text {
  min-height: 10rem;
  resize: none;
  padding: 0.27778rem;
}

@media screen and (max-width: 768px) {
  .comment__text {
    min-height: 4.61111rem;
  }
}

.form__check {
  margin-bottom: 1.44444rem;
}

@media screen and (max-width: 480px) {
  .form__check {
    margin-bottom: 2.33333rem;
  }
}

.radio {
  display: none;
}

.radio:checked ~ .form__check-radio:before {
  display: block;
}

.form__check-radio {
  width: 1.44444rem;
  height: 1.44444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.55556rem;
}

.form__check-radio::before {
  content: "";
  display: none;
  width: 0.77778rem;
  height: 0.77778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__check-box {
  border-radius: 0;
}

.form__check-box::before {
  content: url("../icons/checkmark.svg");
  background: #fff;
  height: 1.27778rem;
}

@media screen and (max-width: 768px) {
  .form__buttons {
    display: flex;
    justify-content: center;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #333537;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  z-index: 10;
}

.menu-dropdown {
  text-align: center;
}

.menu-dropdown .menu__item {
  margin: 0;
  font-size: 2rem;
}

.menu-dropdown .menu__item a {
  color: #ffffff;
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--active-menu {
  overflow: hidden;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  z-index: 15;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburher__plank {
  display: block;
  background-color: #fff;
  height: 4px;
  border-radius: 10px;
}

.modal {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: none;
}

.modal__containder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__modal {
  color: red;
}

.modal__content {
  margin-bottom: 10px;
}

.team {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .team--version--desctop {
    display: none;
  }
}

.team--version--mobile {
  display: none;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
  }
}

.team__title {
  border: none;
  background-color: transparent;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.team__title::after {
  content: "▼";
  font-size: 0.66667rem;
  color: #666666;
  padding-bottom: 2px;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.team__item:last-child {
  margin-right: 0;
}

.team__member {
  margin-bottom: 0.66667rem;
}

.team__title {
  margin-bottom: 0.33333rem;
}

.team__content {
  overflow: hidden;
  height: 0;
  text-align: center;
  padding: 0 0.05556rem;
  transition: height .3s;
  position: absolute;
  top: 100%;
}

.team__content-title {
  font-size: 1rem;
  color: #2a2323;
}

.team__content-subtitle {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .team__content {
    padding: 0 21%;
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .team__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__member {
  width: 220px;
  height: 288px;
}

@media screen and (max-width: 768px) {
  .team__member {
    width: 142px;
    height: 184px;
  }
}

.team__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */