
* {
    box-sizing: border-box;
} 

body, html {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    line-height: 1.42;
    scroll-behavior: smooth;
}

html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phone {
        font-size: $baseFontSize - 2px;
    }
}

ul,
li {
    list-style: none;
    margin: 0; 
    padding: 0;
}

a {
    text-decoration: none; 
    font-style: normal;
    color:  #333;
}

p, h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    padding: 0;
    }


body{
    color: #000;    
    background-color: #ffffff;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}


.wrapper  {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    width: 95%;
    max-width: $contaoinerWidth;
    margin: 0 auto;    
   
}


h1{
    font: 700 rem(48px) /1.2 'Alegreya Sans', sans-serif;     
}


h2{
    font: 700 rem(36px) /1.2 'Alegreya Sans', sans-serif;
}


h3{
    font: 740 rem(24px) /1.2 'Alegreya Sans', sans-serif;
}