.delivery {
    background: url("../img/pattern_form.png");
    background-color: #d3ddd9;
    position: relative;

    &::after {
        content: url("../img/berry_1.png");
        position: absolute;
        bottom: rem(66px);
        left: rem(10px);
    }

}


.section__title-delivery {
    padding-top: rem(75px);
    margin-bottom: rem(42px);

    @include tablets {
        flex-direction: column;
        margin-bottom: rem(29px);
    }
    

}

.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
    }
    @include phone {
        padding: 0;
    }
}

.form__col {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: $baseFontSize;

    @include tablets {
        width: 100%;
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;

        @include tablets {
            padding-top: rem(17px);
        }
    }
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(17px);

    &:last-child {
        margin-bottom: 0;
    }
}

.form__container {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    height: rem(59px);
    font-size: $baseFontSize;
    border: solid rem(3px) transparent;
    outline: none;

    @include tablets {
        height: rem(35px);
    }

    &:focus {
        border-color: #dee2bd;
    }

    &-error {
        border: solid rem(3px) palevioletred;
    }
}

label {
    color: #365a49;
    font-size: $baseFontSize;
}

.form__container-text {
    margin-right: 0;
    margin-bottom: rem(21px);
}

.form__container-check {
    display: flex;
    flex-wrap: wrap;

    @include phone {
        justify-content: center;
    }
}

.form__check-payment {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(22px);
    margin-bottom: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}

.comment__text {
    min-height: rem(180px);
    resize: none;
    padding: rem(5px);

    @include tablets {
        min-height: rem(83px);
    }
}

.form__check {

    margin-bottom: rem(26px);

    @include phone {
        margin-bottom: rem(42px);
    }
}

.radio {
    display: none;

    &:checked~.form__check-radio {
        &:before {
            display: block;
        }
    }
}

.form__check-radio {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &::before {
        content: "";
        display: none;
        width: rem(14px);
        height: rem(14px);
        background: #365a49;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

}

.form__check-box {
    border-radius: 0;

    &::before {
        content: url("../icons/checkmark.svg");
        background: #fff;
        height: rem(23px);
    }
}

.form__buttons {

    @include tablets {
        display: flex;
        justify-content: center;
    }
}