.delivery {
    background: url("../img/pattern_form.png");
    background-color: #d3ddd9;
    position: relative;

    &::after {
        content: url("../img/berry_1.png");
        position: absolute;
        bottom: 66px;
        left: 10px;
    }

}


.section__title-delivery {
    padding-top: 75px;
    margin-bottom: 42px;
}

.form {
    display: flex;
}
.form__col {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 18px;

    &:last-child {
        margin-right: 0;
    }
}
.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;

    &:last-child {
        margin-bottom: 0;
    }
}
.form__container {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    height: 59px;
    font-size: 18px;
    border: solid 3px transparent;    
    outline: none;

    &:focus {
        border-color: #dee2bd;}
}
label {
    color: #365a49;
    font-size: 18px;
}
.form__container-text {
    margin-right: 0;
    margin-bottom: 21px;
}
.form__container-check {
    display: flex;
    flex-wrap: wrap;
}
.form__check-payment {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 22px;
    margin-bottom: 10px;
    &:last-child {
        margin-right: 0;
    }
}

.comment__text {
    min-height: 180px;
    resize: none;
    padding: 5px;
}

.form__check {
       
    margin-bottom: 26px;
}
.radio {
    display: none;

    &:checked ~ .form__check-radio{
        &:before {
             display: block;
        }
    }
}

.form__check-radio {
    width: 26px;
    height: 26px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;

    &::before {
        content: "";
        display: none;
        width: 14px;
        height: 14px;
        background: #365a49;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

}

.form__check-box{
    border-radius: 0;
    &::before {
        content: url("../icons/checkmark.svg");
        background: #fff;
        height: 23px;
    }
}