.hero {
    background:  url("../img/hero__bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #86c3d7;
    color: #fff;
    position: relative;


    &::before {
        content: url("../img/leaf_3.png");
        position: absolute;
        bottom: -55px;
        left: 2%;
    }

    &::after {
        content: url("../img/leaf_and_berry.png");
        position: absolute;
        bottom: -55px;
        right: 2%;
    }
}


.container__hero-section {
    padding: 24px 0 47px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background: url("../img/batons.png") right center / 50% auto  no-repeat , 

}

.header__menu {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 53px;
    height: 39px;
    margin-right: 44px;
}

.lodo__img {
    display: block;
    width: 100%;
    height: 100%;

}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 44px;
}
.menu__item {
    margin-right: 27px;
    &:last-child {
        margin-right: 0;
    }
}

.header__menu {
    a {

        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }

    .phone__number {

        font-size: 24px;
    }
}

.phone__icon {
    width: 12px;
    height: 12px;
}
.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.promo {
    // margin-bottom: 260px;
    // margin-top: 210px;
}
.info {
    margin-top: auto;
}
.hero__img {
    display: block;
    height: 100%;
    width: 100%;
}


.hero-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    &:last-child {
        height: auto;
    }
}

.promo__title {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.promo__caption {
    font-size: 21px;
    margin-bottom: 25px;
    padding-right: 15%;
}



.info__list {
    display: flex;
}

.info__item {
    display: flex;
    align-items: center;
    margin-right: 38px;

    &:last-child {
        margin-right: 0;
    }
}

.info__icon {
    width: 45px;
    height: 45px;
    margin-right: 7px;
}

.info__img {
    display: block;
    width: 100%;
    height: 100%;
}

.info__title {
    width: 85px;
}