.team {
    display: flex;
    justify-content: space-between;
}
.team--version--desctop {
    @include tablets {
        display: none;
    }
    
}
.team--version--mobile {
    display: none;
    flex-direction: column;
    @include tablets {
        display: flex;
    }
}

.team__title {
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 21px;
    font-weight: 700;

    &::after{
        content: "▼";
        font-size: rem(12px);        
        color: #666666;
        padding-bottom: 2px;
    }
}
.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    position: relative;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}
.team__member {    
    margin-bottom: rem(12px);
}
.team__title {
    margin-bottom: rem(6px);

}
.team__content {
    overflow: hidden;
    height: 0;
    text-align: center;
    padding: 0 rem(1px);
    transition: height .3s;

    
        position: absolute;
        top: 100%;
   
    

    &-title {
        font-size: rem(18px);
        color: #2a2323;
    }

    &-subtitle {
        color: #666666;
        font-size: 18px;
        font-weight: 300;
    }

    @include tablets {
        padding: 0 21%;
        position: static;
    }
}
.team__content-block {
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
.team__member {
    width: 220px;
    height: 288px;
    @include tablets {
        width: 142px;
        height: 184px;
    }
}

.team__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}