.why-section {
    position: relative;
    &::after {
        content: url("../img/rassberry.png");
        position: absolute;
        bottom: -55px;
        left: 0;
    }
}
.why {
    text-align: center;
    margin-bottom: 54px;
}

.why__title{
    margin-bottom: 7px;
}
.why__caption {
    color: #666666;
    font-size: 18px;
    line-height: 1.2;    
    padding: 0 26%;
}
.why__cards {
    display: flex;
    justify-content: space-between;
}
.why__item {
    display: flex;
    margin: 0 3%;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

.why__pic {
    width: 126px;
    height: 126px;
    background-color: #f2f5f4;
    border-radius: 50%;    
    margin-bottom: 30px;
    position: relative;
}
.why__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70px;
    width: 70px;
      
}

.why__about-title {
    
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 18px;
}
.why__about-caption {
    
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}